.container-form {
  display: flex;
  flex-direction: column;
  width: 87%;
margin-bottom: 20px;
 border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin-left: 4.9rem;
}
.header-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  transform: translateY(-22rem);
margin-left: -30rem;

}
.text-form {
  color: #000;
  font-size: 38px;
  font-weight: 700;
}
.underline {
  width: 61px;
  height: 4px;
  background: #C29D59;
}
.inputs-form {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  margin-left:-30rem ;
  margin-top: -19rem;
  gap: 25px;
}
.input-one {
  display: flex;
  align-items: center;
  margin: auto;
  width: 380px;
  height: 50px;
  background-color: #eaeaea;
  border-radius: 6px;
}
.input-one input {
  height: 50px;
  width: 400px;
  background: transparent;
  color: #797979;
  outline: none;
  font-size: 19px;
  border: none;
}
.forgot-password {
  margin-left: -20rem;
  display: flex;
  justify-content: center;
  margin-top: 7px;
  color: #797979;
  font-size: 18px;
}
.forgot-password span {
  display: flex;

  color: #3c009d;
  cursor: pointer;
}
.submitting {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 60px auto;
}
.submit1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 39px;
  color: #eaeaea;
  background: #C29D59;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
  margin-top: -20px;
}

.gray {
  background: #eaeaea;
  color: #676767;
}

.styled-image {
 
  margin-left: 40rem;
  width: 400px;
  height: auto;
  
}
