/* Style for the form group container */
.form-group {
  margin-bottom: 20px;
}

/* Style for the label */
.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

/* Style for the input field */
.form-group input[type="text"] {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333; /* You can change the color to match your design */
}

.form-group input[type="email"] {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333; /* You can change the color to match your design */
}

.form-group input[type="password"] {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333; 
}

.form-group .error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.submit-btn {
  background-color: #c29d59;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.submit-btn:hover{
    background-color: #333;
}
.cancel-button {
  background-color: #ccc;
  color: #ff0000;
  font-size: 24px;
  border: none;
  cursor: pointer;

  margin-left: 20rem ;
  border-radius: 50%;
  padding: 10px;
}


.cancel-button:hover {
  
  transition: transform 0.2s ease-in-out; 
}
