.section-tour {
  /* background-color: red; */
  width: 100%;
  height: fit-content;
  /* margin-bottom: -10rem; */
}
body {
  background-color: #fff;
}

.tour-title {
  background-image: url("../Images/tour5.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
}
.tour-title h1 {
  font-size: 70px;
  color: #fff;
  text-align: center;
  transform: translateY(150px);
}
.selection-tour {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  width: 50%;
  margin-left: 6rem;
  position: relative;
  transform: translateY(20px);
}

.filter-tour {
  padding: 10px;
  border: none;
  background-color: #f5f5f5;
  border-radius: 5px;
  font-size: 16px;
}

.sort {
  font-size: 20px;
  color: #333;
  margin-right: 10px;
}

.side-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 53rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #f6f6f6;
  padding: 9px;
  width: 30%;
  transform: translateY(-110px);
}

.title-1 {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  margin-bottom: 20px;
  margin-left: -6.5rem;
}

.title-1::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 0;
  width: 3px;
  height: 120%;
  background-color: #c29d59;
}

.search-tour {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
}

.search-tour input[type="text"] {
  border: none;
  background: none;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  outline: none;
  margin-top: 5px;
}

.search-tour input[type="text"]::placeholder {
  color: #999;
}

.price-selection {
  display: flex;
  align-items: center;
}

.min-price,
.max-price {
  margin-right: 10px;
}

.min-price p,
.max-price p {
  font-size: 17px;
  margin: 0;
  padding: 0;
  color: #000;
  font-weight: bold;
}

.min-price input,
.max-price input {
  width: 80px;
  height: 35px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.checkbox-selection {
  margin-top: 20px;
  margin-left: -10rem;
}

.checkbox-selection p {
  font-size: 18px;
  font-weight: bold;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.checkbox input[type="checkbox"] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  outline: none;
  color: #c29d59;
}

.checkbox label {
  font-size: 24px;
}

.durate {
  font-size: 28px;
  margin-left: -12rem;
}
.card-container {
  display: grid;
  width: 50%;
  transform: translateY(-65rem);
  margin-left: 6rem;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.tour-area {
  /* background-color: red;
   */
  height: 100rem;
}
.card-tour1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 350px;
  position: relative;
  transition: transform 0.3s;
  border-left: 1px solid #c29d59;
}

.card-tour1 img {
  width: 100%;
  height: fit-content;
  display: block;
  border-radius: 5px;
}
.tour-mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 53rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 10px;
  transform: translateY(-90px);
  width: 30%;
}
.mission-details {
  margin-left: -0.4rem;
}
.tour-mission p {
  color: #999;
  padding: 10px;
}
.tour-mission h1 {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}
.tour-mission h1::before {
  content: "";
  position: absolute;
  left: 30px;
  width: 3px;
  height: 20%;
  background-color: #c29d59;
  margin-left: -0.4rem;
}

.tour-mission1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 53rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #c29d59;
  padding: 18px;
  transform: translateY(-50px);
  width: 30%;
  height: 50vh;
}
.tour-mission1 h1 {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  transform: translateY(-10px);
  margin-left: 1.4rem;
}

.tour-mission1 p {
  color: #f6f6f6;
  padding: 10px;
  padding-top: 23px;
  margin-left: 1.1rem;
}
